html {
  background-size: cover;
  box-sizing: border-box;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
body {
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
}
header {
  box-sizing: border-box;
  padding: 15px 0;
  position: fixed;
}
header a {
  color: black;
  text-decoration: none;
}
main {
  margin: auto;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 20px 0;
}
h1 {
  text-align: center;
  font-size: 72px;
}
p {
  font-family: monospace;
  margin: 0 auto;
  max-width: 800px;
  line-height: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
a {
  color: black;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
iframe {
  width: 100%;
}
.three-fourths iframe {
  min-height: 700px;
}
.allmemes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.allmemes h2 {
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.3em;
  margin: 0;
  font-size: 32px;
  margin-bottom: 5px;
}
.allmemes h3 {
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.5em;
  margin: 0;
}
.allmemes p, button {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
}
button {
  padding: 20px;
  background-color: black;
}
button a {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.meme {
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
}
.half-width {
  width: 50%;
}
.three-fourths {
  width: 75%;
  max-width: 700px;
}
@media screen and (max-width: 900px) {
  .half-width {
    width: 75%;
  }
  .three-fourths iframe {
    min-height: 500px;
  }
  h1 {
    text-align: center;
    font-size: 42px;
  }
}
@media screen and (max-width: 600px) {
  .half-width {
    width: 100%;
  }
  .three-fourths {
    width: 100%;
  }
  .three-fourths iframe {
    min-height: 400px;
  }
}
